In [2]:
import pandas as pd
df_raw = pd.read_excel('studentii.xlsx', names=['Tip_srednje_škole','Naziv_škole','Grad_srednje_škole','SŠ_poeni','P.P.'])

df_raw =df_raw.dropna()
df_raw

,Tip_srednje_škole,Naziv_škole,Grad_srednje_škole,SŠ_poeni,P.P.
0,Gimnazija,Prva kragujevačka gimnazija,Kragujevac,16.95,40
1,Tehnička,Prva Tenička škola,Kragujevac,19.93,60
2,Tehnička,Prava Tehnička škola,Kragujevac,18.25,52
4,Gimnazija,Prijepoljska gimnazija,Prijepolje,20.00,40
5,Gimnazija,Prva kragujevačka gimnazija,Kragujevac,19.77,60
...,...,...,...,...,...
375,Gimnazija,Prva kragujevačka gimnazija,Kragujevac,20.00,60
376,Gimnazija,"Gimnazija ""Pomoravski heroji""",Ćuprija,20.00,52
378,Tehnička,Prva tehnička škola,Jagodina,15.65,48
382,Gimnazija,Prva kragujevačka gimnazija,Kragujevac,17.15,60
383,Gimnazija,Prva kragujevačka gimnazija,Kragujevac,17.48,48

In [3]:
#OneHotEncoder
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Load the dataset
data = df_raw

# Select the categorical columns to be one-hot encoded
categorical_columns = ['Tip_srednje_škole']

# Drop rows with missing values
data_cleaned = data.dropna(subset=categorical_columns)

# Extract the categorical columns from the cleaned dataset
data_categorical = data_cleaned[categorical_columns]

# Create an instance of the OneHotEncoder
encoder = OneHotEncoder()

# Fit the encoder on the categorical data
encoder.fit(data_categorical)

# Transform the categorical data into one-hot encoded features
encoded_features = encoder.transform(data_categorical).toarray()

# Create a new DataFrame with the encoded features
encoded_df = pd.DataFrame(encoded_features, columns=encoder.get_feature_names_out(categorical_columns))

# Concatenate the encoded features with the cleaned dataset
data_encoded = pd.concat([data_cleaned.drop(categorical_columns, axis=1).reset_index(drop=True), encoded_df], axis=1)

# Print the encoded dataset
data_encoded

,Naziv_škole,Grad_srednje_škole,SŠ_poeni,P.P.,Tip_srednje_škole_Ekonomska,Tip_srednje_škole_Gimnazija,Tip_srednje_škole_Mašinska,Tip_srednje_škole_Medicinska,Tip_srednje_škole_Ostale,Tip_srednje_škole_Tehnička
0,Prva kragujevačka gimnazija,Kragujevac,16.95,40,0.0,1.0,0.0,0.0,0.0,0.0
1,Prva Tenička škola,Kragujevac,19.93,60,0.0,0.0,0.0,0.0,0.0,1.0
2,Prava Tehnička škola,Kragujevac,18.25,52,0.0,0.0,0.0,0.0,0.0,1.0
3,Prijepoljska gimnazija,Prijepolje,20.00,40,0.0,1.0,0.0,0.0,0.0,0.0
4,Prva kragujevačka gimnazija,Kragujevac,19.77,60,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
347,Prva kragujevačka gimnazija,Kragujevac,20.00,60,0.0,1.0,0.0,0.0,0.0,0.0
348,"Gimnazija ""Pomoravski heroji""",Ćuprija,20.00,52,0.0,1.0,0.0,0.0,0.0,0.0
349,Prva tehnička škola,Jagodina,15.65,48,0.0,0.0,0.0,0.0,0.0,1.0
350,Prva kragujevačka gimnazija,Kragujevac,17.15,60,0.0,1.0,0.0,0.0,0.0,0.0
351,Prva kragujevačka gimnazija,Kragujevac,17.48,48,0.0,1.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.preprocessing import OrdinalEncoder

# Load the dataset
data = df_raw

# Select the categorical columns to be encoded
#categorical_columns = ['Tip_srednje_škole', 'Naziv_škole', 'Grad_srednje_škole']

# Create an instance of the OrdinalEncoder
encoder = OrdinalEncoder()

# Fit and transform the categorical data
encoded_data = encoder.fit_transform(data)

# Create a new DataFrame with the encoded features
encoded_df = pd.DataFrame(encoded_data, columns=data.columns)

# Print the encoded dataset
encoded_df

     Tip_srednje_škole  Naziv_škole  Grad_srednje_škole  SŠ_poeni  P.P.
0                  1.0         35.0                 9.0      67.0   9.0
1                  5.0         34.0                 9.0     219.0  14.0
2                  5.0         29.0                 9.0     126.0  12.0
3                  1.0         30.0                18.0     221.0   9.0
4                  1.0         35.0                 9.0     210.0  14.0
..                 ...          ...                 ...       ...   ...
347                1.0         35.0                 9.0     221.0  14.0
348                1.0         11.0                29.0     221.0  12.0
349                5.0         36.0                 6.0      28.0  11.0
350                1.0         35.0                 9.0      77.0  14.0
351                1.0         35.0                 9.0      96.0  11.0

[352 rows x 5 columns]

In [5]:
X = encoded_df.drop(columns = ['P.P.']).copy()
Y = encoded_df['P.P.']

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.4)
X_train

     Tip_srednje_škole  Naziv_škole  Grad_srednje_škole  SŠ_poeni
147                1.0          9.0                20.0     161.0
303                1.0          1.0                 9.0     173.0
163                5.0         53.0                24.0     109.0
104                1.0         35.0                 9.0     141.0
255                1.0         35.0                 9.0     217.0
..                 ...          ...                 ...       ...
128                1.0         35.0                 9.0      90.0
240                5.0         47.0                 0.0     221.0
44                 1.0          9.0                 7.0     205.0
46                 5.0          7.0                10.0      12.0
309                1.0         16.0                 5.0      18.0

[211 rows x 4 columns]

In [7]:
X_train, X_train.shape

print("Skup podataka za treniranje", X_train.shape )
print("Skup podataka za testiranje", X_test.shape )

Skup podataka za treniranje (211, 4)
Skup podataka za testiranje (141, 4)

In [8]:
from sklearn.linear_model import LinearRegression
# Create an instance of the LinearRegression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

LinearRegression()

In [9]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

y_pred = model.predict(X_test)
# Calculate Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred)

# Calculate Root Mean Squared Error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)

# Calculate Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared (R2) score
r2 = r2_score(y_test, y_pred)

print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('Mean Absolute Error:', mae)
print('R-squared Score:', r2)

Mean Squared Error: 6.2534446287207075
Root Mean Squared Error: 2.5006888308465545
Mean Absolute Error: 2.043336302843111
R-squared Score: -0.05308181286822067

--------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Assume you have a new data point represented by a dictionary
new_data = {
    'Tip_srednje_škole': ['Gimnazija'],
    'Naziv_škole': ['Prva kragujevačka gimnazija'],
    'Grad_srednje_škole': ['Kragujevac'],
    'SŠ_poeni': [20]
}

new_data_df = pd.DataFrame(new_data)

# Encode the categorical columns in the new data using the same encoder
encoded_new_data = encoder.transform(new_data_df)


# Make the prediction using the trained model
prediction = model.predict(encoded_new_data)

# Print the predicted value
print('Predicted P.P. value:', prediction[0])